/* This file is for your main application css. */
body {
  width: 100%;
}

.content {
  width: 800px;
}

.search-block {
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  background-color: #EBEBEB;
}

.search-textarea {
  width: 100%;
  margin: 5px auto;
  display: block;
  resize: vertical;
}

.checkbox-label {
  margin-left: 5px;
}

.btn-block {
  margin-top: 2px;
}

.block {
  display: block;
}

.result-table-container {
  margin-top: 50px;
  width: 100%;
}

.result-table {
  margin-top: 8px;
}

.searching-modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}

.searching-text {
  font-size: 50px;
  color: white;
  position: relative;
  top: 17px;
  text-align: center;
}

.rank-colomn {
  width: 80px;
}

.item-image {
  width: 100px;
  height: 100px;
}
